<tr class="fields">
  <td></td>
  <td>
    <%= text_field_tag 'expansion[]', nil, :class => 'expansion-name form-control input-xs play-name'%>
  </td>
  <td>
    <%= link_to_remove_expansion "&times".html_safe, f %>
  </td>
</tr>