<tr class="fields">
  <td></td>
      <td>
        current_user.name
      </td>
      <td>
        <%= f.text_field :score, :class => 'form-control input-xs'%>
      </td>
      <td>
        <%= f.check_box :win %>
      </td>
      <td>
        <%= link_to_remove_fields "&times".html_safe, f %>
      </td>
</tr>