<%= javascript_include_tag "play_players_expansions.js" %>
<%= javascript_include_tag "bootstrap-colorselector.js" %>
<%= stylesheet_link_tag "bootstrap-colorselector.css" %>



<div class="page-wrap">

  <header class="main-header">
    <label for="main-nav-check" class="toggle-menu">
      ☰
    </label>

    <h1>Record a Play</h1>
  </header>


  <div class="content">


    <%= render 'form' %>



  </div>
  <!-- content -->
</div> <!-- page-wrapper -->

