<div class="page-wrap">

  <header class="main-header">
    <label for="main-nav-check" class="toggle-menu">
      ☰
    </label>

    <h1>Record a Play</h1>
  </header>


  <div class="content">


    <div class="row">
      <div class="new-play-form col-md-5 col-md-offset-1">
      <%= render 'form' %>
      <!--</div> Closing div is in form-->
    </div>


    <br>

    <div class="row">
<div class="new-play-form col-md-5 col-md-offset-1">
  <button id="submit-play" class="btn btn-primary btn-block">Create Play</button>
  <%= link_to 'Cancel', plays_path, :class => "btn btn-default btn-block" %>
</div>
      </div>




  </div><!-- content -->
</div> <!-- page-wrapper -->

