<% if user_signed_in? %>

<input type="checkbox" class="main-nav-check" id="main-nav-check" />
<nav class="main-nav" id="main-nav">
  <%= link_to "Profile", main_path %>
  <%= link_to "Record", plays_path %>
  <%= link_to "Friends", friends_path %>
  <%= link_to "Games", collections_path %>
  <a href="#">Schedule</a>
  <a href="#">Bgg</a>
</nav>
<% end %>