<% if user_signed_in? %>

<input type="checkbox" class="main-nav-check" id="main-nav-check" checked="checked" />
<nav class="main-nav" id="main-nav">
  <a class="active" href="#">Overview</a>
  <a href="#">Record</a>
  <a href="#">Friends</a>
  <a href="#">Games</a>
  <a href="#">Schedule</a>
  <a href="#">Bgg</a>
</nav>
<% end %>