<script src="assets/parallax.min.js"></script>
<link href="assets/bootstrap-social.css" rel="stylesheet">
<link href="http://pixelcog.com/parallax.js/css/style.css" rel="stylesheet">

<div class="parallax-container" data-parallax="scroll" data-position="top" data-bleed="20" data-image-src="assets/rc_bg.jpg" data-natural-width="1600" data-natural-height="848"></div>

<div class="jumbotron">
  <h1>Big Ass Text</h1>
  <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
</div>

<div style="position:absolute; background-color: rgba(255, 255, 255, 0.80); padding: 30px; border-radius: 8px; top: 300px; left: 33%; width: 30%;">
  <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-primary btn-xlg btn-block' %>
  <hr>

  <a class="btn btn-block btn-social btn-facebook">
    <i class="fa fa-facebook"></i>
    Sign in with Twitter
  </a>

  <a class="btn btn-block btn-social btn-google-plus">
    <i class="fa fa-google"></i>
    Sign in with Google
  </a>

  <a class="btn btn-block btn-social btn-twitter">
    <i class="fa fa-twitter"></i>
    Sign in with Twitter
  </a>
</div>

<section>


  <!--<div class="bottom-semicircle">-->
    <!--<button class="btn btn-lg btn-primary btn-block" type="submit" style=" margin: 120px 65px;">Sign Up</button>-->
  <!--</div>-->

  <div class="container">
    <h2 id="installation">Installation</h2>


    <p>Hi. sdjf lksjdf lksdjfl s;adkjflsak; dflkjsda ;flk sdjf;lks;l lksdf lkaslk djkfkdshfjk jhsdgf jhsagdjdf g kj</p>

  </div>
</section>

<div class="parallax-container" data-parallax="scroll" data-bleed="10" data-speed="0.2" data-image-src="http://i.imgur.com/w4Cyw.jpg" data-natural-width="1400" data-natural-height="1400"></div>