<script src="assets/parallax.min.js"></script>
<link href="assets/bootstrap-social.css" rel="stylesheet">
<link href="http://pixelcog.com/parallax.js/css/style.css" rel="stylesheet">

<div class="parallax-container" data-parallax="scroll" data-position="top" data-bleed="20" data-image-src="assets/rc_bg.jpg" data-natural-width="1600" data-natural-height="848"></div>


<div id="social-sign-up">

  <a class="btn btn-block btn-social btn-facebook">
    <i class="fa fa-facebook"></i>
    Sign in with Facebook
  </a>

  <a class="btn btn-block btn-social btn-google-plus">
    <i class="fa fa-google"></i>
    Sign in with Google
  </a>

  <a class="btn btn-block btn-social btn-twitter">
    <i class="fa fa-twitter"></i>
    Sign in with Twitter
  </a>

  <div class="separator">
    &mdash; or &mdash;
  </div>

  <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-primary btn-xlg btn-block' %>


</div>


<div class="jumbotron">

<button id='homepage-learn-more'>Learn More<span style="margin: 15px;" class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>



  <p><%= bgg_hotness %></p>

  <h1>Play Games</h1>

  <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
</div>



<section>
  <div class="container">
    <h2 id="installation">Installation</h2>


    <p>Hi. sdjf lksjdf lksdjfl s;adkjflsak; dflkjsda ;flk sdjf;lks;l lksdf lkaslk djkfkdshfjk jhsdgf jhsagdjdf g kj</p>


  </div>
</section>

<div class="parallax-container" data-parallax="scroll" data-bleed="10" data-speed="0.2" data-image-src="http://i.imgur.com/w4Cyw.jpg" data-natural-width="1400" data-natural-height="1400"></div>