<div class="page-wrap">

  <header class="main-header">
    <label for="main-nav-check" class="toggle-menu">
      ☰
    </label>

    <h1>Add New Game</h1>
  </header>


  <div class="content">

    <h1>New Game</h1>

    <%= render 'form' %>

    <%= link_to 'Back', games_path %>

  </div><!-- content -->
</div> <!-- page-wrapper -->
