<span class="glyphicon glyphicon-comment list-icon"></span>

Commented on

 <% if activity.trackable %>
     <%= link_to activity.trackable.play.game.name, play_path(activity.trackable.play.id, :comment => activity.trackable.id) %>.
 <% else %>
     a play that has been removed.
 <% end %>

<span class="activity-time"><%= time_ago_in_words(activity.trackable.created_at) %> ago</span>