@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.alert {
  margin-bottom: 0px;
}

#forgot-password {
  color: #5C5C5C;
  font-weight: bold;
  float: right;
}

#remeber-me {
  color: #5C5C5C;
}


.btn-xlg {
  padding: 18px 28px;
  font-size: 22px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

#social-sign-up {

  position:absolute;
  background-color:
  rgba(255, 255, 255, 0.80);
  padding: 30px;
  border-radius: 8px;
  margin-top: -320px;
  left: calc(50% - 200px);
  width: 400px;
}









#hotness-thumbnails {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 13;
  -webkit-column-gap:   0px;
  -moz-column-count:    13;
  -moz-column-gap:      0px;
  column-count:         13;
  column-gap:           0px;

}

#hotness-thumbnails img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

#hotness-thumbnails img:hover {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}



.separator {
  text-align: center;
  padding: 6px;
  font-size: 17px;
  font-weight: 300;
}

#homepage-learn-more {
  position: absolute;
  font-size: 27px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin-top: -50px;
}

#homepage-learn-more:hover {
 font-size: 29px;
}

button:focus {
  outline: none;
}






.logo {
    width: 189px;
   margin-top: -10px;
}

@media (max-width: 767px) {

  .logo {
    width: 120px;
  margin-left: calc(50% - 72px);
  }

}






